.btn {
  @apply   text-slate-400  font-thin py-2 px-4 rounded-lg  flex items-center justify-center hover:bg-gray-900 bg-slate-800;
  box-shadow: 0px -1px 3px rgba(134, 134, 134, 0.164), 0px 1px 4px rgb(0, 0, 0);
}
.btn-w {
  @apply   text-slate-50   py-2 px-4 rounded-lg  flex items-center justify-center bg-orange-600;
  box-shadow: 0px -1px 3px rgba(134, 134, 134, 0.164), 0px 1px 4px rgb(0, 0, 0);
}
.btn-s{
  @apply   text-orange-500   py-2 px-4 rounded-lg  flex items-center justify-center bg-slate-800;
  box-shadow: 0px -1px 3px rgba(134, 134, 134, 0.164), 0px 1px 4px rgb(0, 0, 0);
}
*{
  overflow-y: hidden;
}

